* {
    margin: 0;
}

body {
  background-color: rgb(220, 192, 156);
  /* background-image: url("webBg.jpg"); */
}

.link {
text-decoration: none;
color:   #d7cdcd;
}

.link:hover {
  color:#9e9286;
}

@font-face {
  font-family: 'mainText'; 
  src: url('fonts/mainText.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titleText'; 
  src: url('fonts/titleText.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

nav{
  position: sticky;
  top: 0;
  background-color: rgb(47, 37, 10);
  font-family:'titleText', sans-serif;
  text-align: center;
}

.centeredBig{ /* class for title bc why not */ 
    text-align: center;
    font-size: 4em;
    font-family:'titleText', sans-serif;
    margin-top: 60px;
}

.centeredText{ /* text under title (not image captions) */ 
    text-align: center;
    font-size: 1.25vw;
    font-family:'mainText', sans-serif;
    margin-top: 40px
}

h6.centered{ /* captions under images*/
    display: block; /* centers captions*/ 
    margin: 0 auto 40px auto; /* instances are top right bottom left (wouldve been helpful before but whatever)*/ 
    text-align: center;
    font-size: 1.75rem;
    font-family:'mainText', sans-serif;
    background-color: rgb(200, 196, 191);
    border: 10px double rgb(110, 102, 94); /* caption borders */
    width: 20rem; 
    padding: 20px; /* the content area will shrink to accommodate the 20px padding on each side */
    box-sizing: border-box;
    margin: 0 auto;
}

 /* img { for space between images on site */
    /* margin-right: 20px;
    margin-bottom: 60px; 
    margin-top: 50px; */
  /* } */

.firstImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%; 
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 15px;
  width: 60%; 
}

.center-bottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 0px;
  /* width: 20%; */
} 

.video-container {
  display: block;
  margin: 40px auto 0px auto;
  width: 800px; 
}

.exitSign-container {
  /* position: relative; */
  width: 200px; /* same as image width so it avoids distortion */
  margin: 200px auto 0; /* 200px space from above, centered automatically, 0px below */ 
  cursor: pointer;
}

/* second page formatting */

.aboutTitle { 
    text-align: left;
    font-size: 2.5rem;
    font-family:'mainText', sans-serif;
    /* background-color: lightgray; /* just for checking! */ 
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px; 
}

.aboutText { 
    text-align: left;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
    padding: 20px;
}

.font-here {
  font-family:'mainText', sans-serif;
  margin-bottom: 20px;
  font-size: 1.25rem;
  text-align: center;
}

.pSpacing {
    text-align: left;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 10px;
    padding: 20px;
    line-height: 25px;
}

h6.font-here{
  margin-top: 120px;
}
